<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Training CRUD</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/fieldSet.css}">

</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="main">
    <div class="row">
        <div class="col-md-10 offset-md-1 form-3-box text-center wow fadeInUp">

            <h1>Trainings Page</h1>

            <form action="#" th:action="@{/training/add}" th:object="${trainingDto}" enctype="multipart/form-data"
                  method="post">

                <fieldset class="scheduler-border form-group p-3">
                    <legend class="scheduler-border w-auto px-2">Add new training</legend>
                    <div class="form-group text-left">
                        <label for="trainingTitle">Training Title</label>
                        <br>
                        <input type="text" class="form-control" placeholder="Training title"
                               id="trainingTitle" th:field="*{trainingTitle}">
                    </div>
                    <div class="form-group text-left">
                        <label for="description">Description</label>
                        <br>
                        <textarea class="form-control" id="description" placeholder="Training Description"
                                  th:field="*{description}"></textarea>
                    </div>
                    <div class="form-group text-left">
                        <label for="pathToTraining">Training Video</label>
                        <br>
                        <input type="file" id="pathToTraining" th:field="*{multipartFile}">
                    </div>
                    <div class="form-group text-left">
                        <label for="pathToImage">Set an image for this training</label>
                        <br>
                        <input type="file" id="pathToImage" th:field="*{imageFile}">
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary btn-customized"
                                   id="submitButton"
                                   th:value="Save">
                            <input type="reset" class="btn btn-secondary btn-customized" id="resetButton" name="reset"
                                   th:value="Reset"/>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <br>
        <div class="table-responsive pt-5">
            <table id="trainingTable" class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th><b>Training Id</b></th>
                    <th><b>Training Title</b></th>
                    <th><b>Training Description</b></th>
                    <th><b>Training Path</b></th>
                    <th><b>Delete Training</b></th>
                    <th><b>Update Training</b></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="training, itemStat : ${allTrainings}">
                    <td th:text="${training.id}"></td>
                    <td th:text="${training.trainingTitle}"></td>
                    <td th:text="${training.description}"></td>
                    <td th:text="${training.pathToTraining}"></td>

                    <td><a href="#" th:href="@{'/training/delete/' + ${training.id} }">Delete training</a></td>
                    <td><a href="#" th:href="@{'/training/showUpdateForm/' + ${training.id} }">Update training</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>