<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Training CRUD</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/fieldSet.css}">
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>
<div class="main">
    <div class="row">
        <div class="col-md-10 offset-md-1 form-3-box text-center wow fadeInUp">
            <h1>Update Training Form</h1>

            <form action="#" th:action="@{/updateTraining}" th:object="${trainingDto}" enctype="multipart/form-data"
                  method="post">

                <fieldset class="scheduler-border form-group p-3">
                    <legend class="scheduler-border w-auto px-2">Update training details</legend>
                    <div class="form-group text-left">
                        <input type="hidden" id="trainingId" th:field="${training.id}">
                        <br>
                        <label for="trainingTitle">Training Title</label>
                        <input type="text" id="trainingTitle" th:field="${training.trainingTitle}">
                    </div>
                    <div class="form-group text-left">
                        <label for="description">Description</label>
                        <br>
                        <textarea id="description" th:field="${training.description}"></textarea>
                    </div>
                    <div class="form-group text-left">
                        <label for="multipartFile">Training File</label>
                        <br>
                        <input type="file" id="multipartFile" th:field="*{multipartFile}">
                    </div>
                    <!--            <input type="file" id="pathToTraining" th:field="${training.pathToTraining}">-->

                    <div class="form-group text-left">
                        <label for="pathToImage">Update image for this training</label>
                        <br>
                        <input type="file" id="pathToImage" th:field="*{imageFile}">
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary btn-customized" id="submitButton"
                                   th:value="Save">
                            <input type="reset" class="btn btn-secondary btn-customized" id="resetButton" name="reset"
                                   th:value="Reset"/>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

</body>

</html>