<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>User CRUD</title>
</head>
<body>
<div>
    <h1>This is the page I want</h1>

<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="username">UserName</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="Pass">Password</label>
    <input type="password" th:field="*{password}" id="Pass">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="enable_user">Enabled</label>
    <input type="checkbox" th:field="*{enabled}" id="enable_user" >
    <input type="submit" value="Add New User">
    <br>
    <label>Roles:</label>
<!--    <input type="checkbox" th:field="*{roles}" id="roles" >-->
</form>


</div>
</body>

</html>