<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>User CRUD</title>
</head>
<body>
<div>
    <h1>This is the page I want</h1>

<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="username">UserName</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="Pass">Password</label>
    <input type="password" th:field="*{password}" id="Pass">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="enable_user">Enabled</label>
    <input type="checkbox" th:field="*{enabled}" id="enable_user" aria-checked="true">
    <input type="submit" value="Add New User">
    <br>
    <label>Roles:</label>
    <select id="roles" th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}" th:text="${role.name}"></option>
    </select>

    <label>Suervisor:</label>
    <select id="supervisor" th:field="*{isSupervisedBy}" multiple="multiple">
        <option th:each="supervisor : ${supervisors}"
                th:value="${supervisor.id}" th:text="${supervisor.username}"></option>
    </select>
</form>

<input id="textSearch" type="text" name="keyword">

    <table id="usersTable" class="table table-striped table-primary">
    <thead>
    <tr>
        <td><b>Id</b> </td>
        <td><b>Username</b> </td>
        <td><b>Role</b> </td>
        <td><b>Supervisor Id</b> </td>
        <td><b>Delete User</b> </td>
        <td><b>Update User</b> </td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user1 : ${allUsers}">
        <td th:text="${user1.id}">1</td>
        <td th:text="${user1.username}" />
        <td th:text="${user1.roles[0].name}" />
        <td th:text="${user1.isSupervisedBy}" />
        <td><a href="#" th:href="@{'deleteUser/' + ${user1.id}}">Delete</a></td>
        <td><a href="#" th:href="@{'showUserById/' + ${user1.id}}">Update</a></td>
    </tr>
    </tbody>
    </table>

</div>

<script th:inline="javascript"
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous">
/*<![CDATA[*/

   var user2 = /*[[${allUsers}]]*/"";
/*]]>*/

    $('#textSearch').keydown(function(){

    var value = $(this).val();
    console.log('Value = ' + value);
    value = value.charAt(value.length-1)
    alert(value);

    var data = filterFunction(value, user2);

    rebuildTableData(data);
});

function filterFunction(value, data){

    var filterData = [];

    for(var i = 0; i<data.length; i++){
        value = value.toLowerCase();
        var name = data[i].username.toLowerCase();

        if(name.includes(value)){
            filterData.push(data[i]);
        }
        return filterData;
    }

}

function rebuildTableData(data){
    var table = document.getElementById("usersTable")

    table.innerHTML=''

    for(var i = 0; i<data.length; i++){
        var row = `<tr> 
                        <td>${data[i].username}</td> 
            
                    </tr>`
                    table.innerHTML += row
    }
}

</script>
</body>

</html>