
    .sidenav {
      position: fixed;
      background-color: #f1f1f1;
      overflow-x: hidden;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 280px;
      padding-top: 20px;
    }

    .main {
      margin-top: 40px;
      margin-bottom: 20px;
      margin-right: 25px;
      margin-left: 40px;
      padding: 0px 10px;
      z-index: 1;
    }

    .link-light:hover {
      color: #fff !important;
      text-decoration: none;
      opacity: 1;
    }

    .link-light {
      color: #fff !important;
      text-decoration: none;
      opacity: 1;
    }

    .img-responsive{
        width:  300px;
        height: 300px;
        object-fit: cover;
    }
    .card-body{
        width:  300px;
        height: 300px;
        border-width: thick;
    }
    .card{
         width:  345px;
         height: 355px;
         border-width: 3px;
    }
    .card-header{
    border-width: thick;
    }

    .img-score {
    	width: 100%;
    	max-width: 350px;
    	position: relative;
    	display: block;
    	margin: -180px auto 50px auto;
    }



